# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
*.binary
plan.json
infracost-report.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

# IDE
.vscode/
.idea/