# Pipeline Master
stages:
  - plan
  - finops

variables:
  TF_ROOT: "infra"
  # Informations extraites de vos commandes précédentes
  GCP_WIF_PROVIDER: "projects/514436528658/locations/global/workloadIdentityPools/gitlab-pool/providers/gitlab-provider"
  GCP_SERVICE_ACCOUNT: "ecoarch-ci@ecoarch-mvp-1768828854.iam.gserviceaccount.com"
  # Configuration Low-Cost
  TF_VAR_project_id: "ecoarch-mvp-1768828854"
  TF_VAR_region: "us-central1"
  TF_VAR_zone: "us-central1-a"
  # Versions verrouillées
  TERRAFORM_VERSION: "1.10.0"
  PYTHON_VERSION: "3.11.10-slim"
  INFRACOST_VERSION: "v0.10.39"

# Template pour l'authentification GCP via OIDC
.gcp_auth:
  id_tokens:
    GCP_ID_TOKEN:
      aud: https://iam.googleapis.com/${GCP_WIF_PROVIDER}
  before_script: &gcp_setup
    # Création du fichier de configuration pour l'ADC (Application Default Credentials)
    - echo "${GCP_ID_TOKEN}" > .google_id_token
    - |
      echo "{
        \"type\": \"external_account\",
        \"audience\": \"//iam.googleapis.com/${GCP_WIF_PROVIDER}\",
        \"subject_token_type\": \"urn:ietf:params:oauth:token-type:jwt\",
        \"token_url\": \"https://sts.googleapis.com/v1/token\",
        \"service_account_impersonation_url\": \"https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/${GCP_SERVICE_ACCOUNT}:generateAccessToken\",
        \"credential_source\": {
          \"file\": \".google_id_token\"
        }
      }" > .google_creds.json
    - export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/.google_creds.json

terraform_plan:
  extends: .gcp_auth
  stage: plan
  image:
    name: hashicorp/terraform:${TERRAFORM_VERSION}
    entrypoint: [""]  # <--- Ajout crucial : on vide l'entrypoint pour autoriser le shell
  script:
    - cd $TF_ROOT
    - terraform init
    - terraform plan -out=../tfplan.binary
    - terraform show -json ../tfplan.binary > ../plan.json
  artifacts:
    paths:
      - plan.json
    expire_in: 1 hour

infracost_analysis:
  extends: .gcp_auth
  stage: finops
  image: python:${PYTHON_VERSION}
  before_script:
    - *gcp_setup  # <--- On appelle l'ancre ici (plus d'erreur linter)
    - apt-get update && apt-get install -y curl=7.88.*
    - |
      curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | \
      sh -s -- -v ${INFRACOST_VERSION}
    - pip install --no-cache-dir -r requirements.txt
  script:
    - infracost breakdown --path plan.json --format json --out-file infracost-report.json
    - python src/parser.py
    # 1. Lancer les tests unitaires (Qualité d'abord)
    - pytest tests/
    # 2. Générer le rapport réel
    - infracost breakdown --path plan.json --format json --out-file infracost-report.json
    # 3. Afficher le rapport Markdown dans les logs
    - python src/parser.py
    # 4. Appliquer la porte budgétaire (Blocage si besoin)
    - python src/budget_gate.py
  artifacts:
    paths:
      - infracost-report.json
    expire_in: 1 week